body{
  background: black;
  font-family: monospace;
}
#container{
  width: 100%;
  margin: auto;
  background: black;
  text-align: center;
}

#controls{
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  background: #333;
  text-align: center;
  line-height: 2.5em;
  color: white;
}
#controls button{
  display: inline-block;
  background: #666;
  padding: 5px 9px;
  border-radius: 10px;
  border: 1px transparent;
  color: white;
  cursor: pointer;
  transition: background .25s ease-in-out;
}
#controls button:hover{
  background: #999;
}
#controls button+button{
  margin-left: 10px;
}
#controls .spacer{
  width: 50px;
  display: inline-block;
}