html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* HIDE CHECKBOX */

#hide-checkbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: .1;
}
    #hide-checkbox:hover {
        cursor: pointer;
        opacity: 1;
    }
#hide-checkbox.open {
    opacity: 1;
}

/*               */
/* MAIN CONTROLS */
/*               */

#main-controls {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 30px;
}
#main-control-header {
    display: block;
     background: magenta; 
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    border: none;
    background: transparent;
    overflow: scroll;
}

#main-controls h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding: 10px;
    border: none;
    /*background: red;*/
    width: 150px;
    font-size: 20px;
}

    /*                        */
    /* CHROME EXTENSION LINKS */
    /*                        */

    a.extension-link {
        font-size: 14px;
    }

.main-control-groups {
    display: inline-block;
    /*width: 235px;*/
    min-width: 0 !important;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding: 10px;
    overflow: scroll;
    /* background: orange; */
    float: left;
    position: relative;
}
.main-control-groups span {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#main-controls h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding: 10px;
    border: none;
    /*background: red;*/
}
    #main-controls #hide-checkbox * {
        display: inline-block;
        font-size: 16px;
    }
    #main-controls #hide-checkbox input {
        margin: 0 5px;
    }
    #unique-token {
        font-size: 14px;
    }
#main-controls input {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: auto;
    margin: 0;
    font-size: 14px;
}

#main-controls .input-amount {
    margin-left: 0;
}

#main-controls #room-name {
    background: white;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    width: 120px;
}

#main-controls .setup {
    font-size: 14px;
}
    #main-controls .setup span {
        margin: 0;
        padding: 0;
        text-align: center;
        display: inline-block;
        top: -10px;
    }
    button#share-screen {
        padding: 0;
        float: left;
    }

#main-controls ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
    #main-controls ul li {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 280px;
        border: none;
        /*background: lime;*/
    }
    #main-controls ul li * {
        display: inline-block;
        float: left;
        margin: 0;
        line-height: 1.3;
        padding: 0;
        width: auto !important;
        margin-right: 10px;
        font-size: 14px;
    }
.control-info-wrapper {
    display: inline-block;
    width: 230px;
    /*background: brown;*/
}

.control-info {
    display: inline-block;
    margin: 0 !important;
    padding: 0;
    /*background: red;*/
    width: 50px;
}

/* CONTROL WRAPPERS */
.setup-controls-wrapper {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    width: 200px;
}
article .setup-controls-wrapper p {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    width: 150px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.green-screen-controls-wrapper {
    width: 240px;
}
.display-face-detect-video {
    margin-right: 10px !important;
}

video {
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    vertical-align: top;
    width: 100%;
}

input {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    border-sizing: border-box;
}

article {
    width: auto;
    height: auto;
    max-width: none;
    padding: 0;
    margin: 0;
}

/*                        */
/* SCREEN SHARING WRAPPER */
/*                        */

article.screen-sharing-wrapper {
    width: auto;
    height: auto;
    max-width: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 0;
    margin-top: -118px;
}

select {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    height: 50px;
    margin-left: 1em;
    margin-right: -12px;
    padding: 1.1em;
    vertical-align: 6px;
    width: 18%;
    box-sizing: border-box;
}

.setup {
    width: 80px;
    height: 20px;
}

li {
    border-bottom: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    padding: .5em;
}

.experiment {
    margin: 0;
    padding: 0;
}